html{
  background-color: rgb(2, 2, 2);
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdHAyNTYtYmFja2dyb3VuZC0yNS5qcGc.jpg);
  background-size:cover;
}
body{
  margin:0;
  padding:0;
  color:black;
}

a{
  text-decoration:none;
  cursor:pointer;
}
button{
  cursor:pointer;
}