#board-container{
  width: 98vw;
  max-width: 98vw !important;
  padding:0 auto;
  padding-top: 70px;
  height: 100%;
  min-height: 200px;
  margin:0 auto;
  z-index:5000;
  display: flex;
  text-align: center;
  justify-content: left;
}

#board-notes-container{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 98vw;
}

.new-note{
  height:47px;
  width: 47px;
  background-color: rgba(14, 76, 168, 0.877);
  position:fixed;
  bottom:30px;
  right:35px;
  border-radius: 50px;
}
  .new-note-dark{
    background-color: rgba(61, 61, 61, 0.808);
  }


#new-note-icon{
  height: 25px;
  width: 25px;
  margin:11px;
  cursor:pointer;

}

@media  screen and (max-width:1000px) {
  #board-container{
    justify-content: center;
  }
  #board-notes-container{
    justify-content: center;
  }
}