.config-container{
 min-height: 100vh;
 background-color: rgb(255, 255, 255);
 display: flex;
 align-items: center;
 vertical-align: center;
 z-index: 5000;
}
  .config-container-dark{
    background-color: rgb(0, 0, 0);
  }


  
#background-preview{
  position:absolute;
  max-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  top:0;
  left: 0;
  background-color: rgb(255, 255, 255);
}
#background-preview-dark{
  position:absolute;
  max-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  top:0;
  left: 0;
  background-color: rgb(0, 0, 0);
}



.config-window-container{
  margin: 0 auto;
  min-height: 70vh;
  min-width: 40vw;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color:  #b6b6b6;
  z-index: 5000;
}
  .config-window-container-dark{
    background-color: #1b1b1b;
    border-color:  #83838300;
  }
  


#config-window-buttons{
  border-right-style:solid;
  border-color:#5252522d;
  min-height: 70vh;
  width:17vw;
  border-width: 1px;
  margin: 8px 0;
  padding:0;
} 


#config-window-controls{
  min-height: 70vh;
  width:40vw;
  margin: 6px 0;
}


#config-page-user{
  display:none;
}


.config-button{
  height: 50px;
  width: 100%;
  margin: 20px auto;
  color:rgba(26, 26, 26, 0.849);
  font-weight: 500;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor:pointer;
}
.config-button:hover{
  background-color: rgba(212, 212, 212, 0.726);
}
  .config-button-dark{
    color:rgba(255, 255, 255, 0.863);
    font-weight:300;
  }
  .config-button-dark:hover{
    background-color:rgba(255, 255, 255, 0.13);
  }



.config-page{
  color:rgba(26, 26, 26, 0.849);
  padding: 0 30px;
}
  .config-page-dark{
  color:white;
  }

.config-page-panel{
  text-align: right;
  width: fit-content;
}



.config-page-title{
  color:rgba(26, 26, 26, 0.849);
  font-weight: 400;
  font-size:  21px;
}
  .config-page-title-dark{
    color:white;
    font-weight: 300;
  }



.config-page-subtitle{
  text-align: left;
  font-weight: 400;
  color:rgba(26, 26, 26, 0.849);
  margin-top:35px;
  margin-bottom:25px;
}
  .config-page-subtitle-dark{
    color:rgba(255, 255, 255, 0.712);
    font-weight: 200;
  }


.selector-image{
  height:70px;
  border-radius: 5px;
  margin:5px;
  cursor:pointer;
}


.selector-none{
  background-color:rgba(207, 207, 207, 0.137);
  height:50px;
  border-radius: 5px;
  margin:10px auto;
  cursor:pointer;
}
  .selector-none-dark{
    background-color:rgba(209, 209, 209, 0.137);
    filter:invert(100%);
    opacity: 65%;
  }



#selector-none-container{
  height: 70px;
  width: 70px;
  background-color: rgba(155, 155, 155, 0.075);
  border-radius: 5px;
  display: flex;
  vertical-align: center;
  align-items: center;
  align-content: center;
  margin:5px;
  transform:translateY(-15px)
}


.config-page-buttons{
  margin-top:50px;
}


.config-user-element{
  color:black;
  text-align: left;
  font-weight: 400;
  margin:50px 0;
  min-width: 30vw;
}
  .config-user-element-dark{
    color:rgb(206, 206, 206);
    font-weight: 200;
  }



.config-user-element-name{
  font-weight: 400;
  color:inherit;
  display:inline;
}



.config-page-icon{
  height: 14px;
  margin: 0 15px;
  cursor:pointer;
}
 .config-page-icon-dark{
    filter:invert(100%)
  }



.config-user-form{
  margin:0;
  padding:0;
  height: fit-content;
  display: inline;
  position:relative;
  text-align: left;
  opacity: 90%;
}


.config-user-input{
  display:inline;
  margin:0 15px;
  padding:0;
  color:rgb(0, 0, 0);
  height: 26px;
  font-size:15px;
  width: 170px;
  border-style: none;
  border-bottom-style:solid;
  outline: none;
  border-width: 1px;
}
  .config-user-input-dark{
    color:rgb(236, 236, 236);
    background-color:#1b1b1b;
  }



.config-user-form-button{
  padding:2px 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.925);
  color:rgb(7, 7, 7);
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.24);
  border-style: none;
  font-size: 15px;
}
  .config-user-form-button-black{
    color:black
  }

  .delete-account{

    text-align: left;
    width: 100%;
  }