
input[type="radio"] {
  appearance: none;
  background-color: Inherited;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 27px;
  height: 27px;
  border-style:none;
  border-radius: 50%;
  cursor:pointer;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.274);
}

input[type="radio"]:checked {
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);
}

#open-note-container{
  height: 100vh;
  width: 100vw;
  position:fixed;
  z-index:5000;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.363);
  background-color: rgba(0, 0, 0, 0.308);
  /*backdrop-filter: blur(10px);*/
  /*backdrop-filter: saturate(80%);*/
}

#open-note{
  min-height: 75vh;
  height: fit-content;
  width:550px;
  background-color: rgb(252, 255, 61);
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.24);
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
#open-note-textarea{
  min-height: 70vh;
  min-width:500px;
  max-height: 80vh;
  width:500px;
  border-style: none;
  border-color:aliceblue;
  color:rgba(0, 0, 0, 0.911);
  background-color: rgba(255, 235, 205, 0);
  font-size: 20px;
  padding:20px;
  outline: none;
  position:relative;
}

#open-note-save-buton{
  padding:7px 14px;
  border-radius: 10px;
  background-color: rgba(2, 92, 209, 0.911);
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.24);
  border-style: none;
  margin:10px;
  margin-top:20px;
  font-size: 16px;
  min-width: 100px;
}

#open-note-close-buton{
  padding:7px 14px;
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.87);
  color:rgb(17, 17, 17);
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.24);
  border-style: none;
  margin:10px;
  margin-top:20px;
  font-size: 16px;
  min-width: 100px;
}

#open-note-set-color{
  margin-top:10px;
}

.open-note-color-input{
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  margin:5px;
  padding:0px;
}

.open-note-color-input,
.open-note-color-input:before,
.open-note-color-input:after {
  box-sizing: border-box;
}

.red{
  background-color: #fca4a4;
}
.green{
  background-color: #b2ff96;
} 
.blue{
  background-color: #A9D5EF;
}
.yellow{
  background-color: #f5ff6c;
}
#open-note-delete-button{
  background-color: rgba(148, 40, 40, 0);
  border-style:none;
  height:40px;
  width:40px;
  padding:0;
}

#open-note-delete-form{
  background-color: rgba(148, 40, 40, 0);
  height:0;
  width:0;
  padding:0;
  margin-bottom: 200px;
  margin-left: 10px;
}

#open-note-delete-img{
  opacity: 60%;
  height:35px;
  position:absolute;
  transition:0.18s;
  transform:translate(-17px, -17px);
}
#open-note-delete-img:hover{
  opacity: 87%;
  height:45px;
}

#open-note-compartir-wsp{
  min-width: fit-content;
  color:rgb(37, 18, 18);
  font-size: 13px;
  position:absolute;
  bottom:2px;
  left:8px;
  opacity:60%;
  padding:2px 4px;
  border-radius: 4px;
  cursor:pointer;
  transform: translateY(4px);
}
#open-note-compartir-wsp:hover{
  opacity:100%;
}

#open-note-wsp-logo{
  height:15px;
  transform: translateY(2px);
  opacity: 70%;
}