#login-container{
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdHAyNTYtYmFja2dyb3VuZC0yNS5qcGc.jpg);
  height:100vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#login-window{
  min-height:72vh;
  height:fit-content;
  width:800px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.418);
  align-items: center;
}

#login-form-container{
  min-height:72vh;
  height:fit-content;
  width:400px; 
  align-items: center;
  align-items: center;
}

#login-info{
  min-height:500px;
  height:100%;
  width:400px; 
  background-color: rgb(237, 232, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: url(https://img.freepik.com/fotos-premium/conjunto-notas-adhesivas-colores-blanco-gente-negocios-que-reune-usa-notas-post-it-compartir-ideas-nota-adhesiva-discutir-concepto-lluvia-ideas-sobre-trabajo-equipo-empresarial_661495-9402.jpg?w=800);
  background-size: cover;
  backdrop-filter: blur(20px);
}

#login-form-title{
  color:rgba(0, 0, 0, 0.788);
  margin: 40px;
}

#login-info-title{
  margin: 40px;
}

h2{
  font-size:22px;
}

input{
  display:block;
  margin: 10px auto;
  margin-bottom: 20px;
  height:30px;
  width: 255px;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.897);
  text-align:left;
  padding: 0 10px;
}
span{
  min-width: 18vw;
  color:black;
  font-size: 17px;
  position:relative;
  text-align:left;
}
.login-button{
  color:black;
  font-size: 18px;
  height:35px;
  width: 280px;
  border-style: none;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}
#login-form-button{
  background-color: rgb(48, 48, 255);
  color:white;
  margin-top: 24px;
}
.login-msj-text{
  color:black;
  position:absolute;
  left:0;
  right:0;
}
.login-msj{
  position:relative;
  width: 30vw;
  height: 0px;
  background-color:  blue;
  margin:0;
  padding:0;
}

@media only screen and (max-width: 880px) {
  #login-window{
    width:50vw;
  }
  #login-form-container{
    width:50vw;
  }
  #login-info{
    visibility: hidden;
    position:absolute;
  }
}

@media only screen and (max-width: 600px) {

  #login-window{
    width:80vw;
  }
  #login-form-container{
    width:80vw;
  }

  input{
    width: 60vw;
  }
  .login-button{
    width: 60vw;
  }
}