.note-container{
  position:relative;
  width: 180px;
  max-width: 200px;
  height: fit-content;
  min-height: 80px;
  padding: 30px 18px;
  display:inline-flex;
  flex-direction: column;
  margin: 20px 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.24);
  cursor:pointer;
  border-radius: 3px;
  z-index:1000;
}

.note-text{
  color:rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
  min-height: 15px;
  max-width: 184px;
  max-height: 85px;
  word-wrap: break-word;
}

.blue-note{
  background-color:#A9D5EF;
  transform: rotate(-1deg);
}
.red-note{
  background-color:#efa9a9;  
  transform: rotate(0.5);
}
.green-note{
  background-color:#B0EFA9;
  transform: rotate(1deg);
}
.yellow-note{
  background-color:#F0FF70;
  transform: rotate(-1deg);
}