input[type="radio"] {
  appearance: none;
  background-color: Inherited;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 27px;
  height: 27px;
  border-style:none;
  border-radius: 50%;
  cursor:pointer;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.274);
}

input[type="radio"]:checked {
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);
}

#add-note-container{
  height: 100vh;
  width: 100vw;
  position:fixed;
  z-index:13000;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.363);
  background-color: rgba(0, 0, 0, 0.26);
}

#add-note{
  min-height: 78vh;
  height: fit-content;
  width:550px;
  background-color: rgb(252, 255, 61);
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.24);
  display:flex;
  align-items: center;
  justify-content: center;
}
#add-note-textarea{
  min-height: 70vh;
  min-width:500px;
  max-height: 80vh;
  width:500px;
  border-style: none;
  border-color:aliceblue;
  color:rgba(0, 0, 0, 0.911);
  background-color: rgba(255, 235, 205, 0);
  font-size: 20px;
  padding:20px;
  outline: none;
}

#add-note-save-buton{
  padding:7px 14px;
  border-radius: 10px;
  background-color: rgba(2, 92, 209, 0.87);
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.24);
  border-style: none;
  margin-top:20px;
  font-size: 16px;
  backdrop-filter: blur(1px);
}

#add-note-set-color{
  margin-top:10px;
}

.add-note-color-input{
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  margin:5px;
  padding:0px;
}

#add-note-close-buton{
  padding:7px 14px;
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.925);
  color:rgb(17, 17, 17);
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.24);
  border-style: none;
  margin:10px;
  margin-top:20px;
  font-size: 16px;
  min-width: 100px;
  backdrop-filter: blur(2px);
}

.add-note-color-input,
.add-note-color-input:before,
.add-note-color-input:after {
  box-sizing: border-box;
}

.red{
  background-color: #fca4a4;
}

.green{
  background-color: #b2ff96;
} 

.blue{
  background-color: #A9D5EF;
}

.yellow{
  background-color: #f5ff6c;
}

@media screen and  (max-width:700px) {
  #add-note{
    width:90vw;
    padding: 1px;
    min-height: auto;
    max-height: 60vh;
  }
  
  #add-note-textarea{
    max-width:82vw;
    word-wrap: break-word;
    min-width:auto;
    width:500px;
    padding:15px;
    min-height: auto;
    height: 55vh;
    max-height: 55vh;
  }

  #add-note-container{
    background-color: rgba(0, 0, 0, 0.733);
    /*backdrop-filter: blur(10px);*/
    /*backdrop-filter: saturate(80%);*/
  }
}