.note-container{
  width: 180px;
  max-width: 200px;
  height: fit-content;
  min-height: 80px;
  padding: 30px 20px;
  display:inline-flex;
  flex-direction: column;
  margin: 20px 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.24);
  cursor:pointer;
}

.note-text{
  color:rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
}

.note-pin{
  margin:8px auto;
  height:24px;
  width: 30px;
  opacity: 70%;
}

.red-note{
  background-color:#EFA9A9;  
  transform: rotate(0.5);
}
.blue-note{
  background-color:#B0EFA9;
  transform: rotate(-1deg);
}
.green-note{
  background-color:#A9D5EF;
  transform: rotate(1deg);
}
.yellow-note{
  background-color:#F0FF70;
  transform: rotate(-1deg);
}